.navbar-dark .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 24px;
  color: black;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #555;
}
