.icon-background {
  color: darkslategrey;
}

.icon-color {
  color: #212529;
}

.icons-bar {
  margin-right: 50px;
}

.fa-stack-1x {
  top: 7px;
}

.hexagon {
  position: relative;
  width: 74px;
  height: 45px;
  background-color: #212529;
  margin: 18.5px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 18.5px solid #212529;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 18.5px solid #212529;
}

.logo {
  position: absolute;
  left: 45%;
  top: 43px;
  width: 11%;
  height: auto;
  z-index: 2;
}

.company-segment {
  color: white;
  padding: 7%;
  background-color: darkred;
  position: relative;
  z-index: 1;
}

.first-content {
  font-size: 25px;
  font-weight: 500;
}

.second-content {
  font-size: 32px;
  padding: 40px 0 60px 0;
  text-shadow: 0px 3px 2px black;
  font-size: 38px;
  font-weight: 500;
  color: lightgrey;
  white-space: pre-line;
  transform: scale(1, 1.4);
}

.third-content {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.info-button {
  margin-top: 2%;
  background-color: #43A047;
  box-shadow: 0px 5px 11px black;
  font-size: 14px;
  padding: 10px 22px;
  font-weight: 400;
}

.triangle {
  transform: rotate(45deg);
  position: relative;
  left: 47.5%;
  top: -88px;
  background-color: darkred;
  width: 100px;
  height: 100px;
}

.marketing-segment {
  padding: 0 3% 8% 3%;
}

@media only screen and (max-width: 990px) {
  .logo {
    top: 15px;
  }

  .icons-bar {
    display: none !important;
  }
}

.hexagon-segment {
  margin-left: 38%;
  position: relative;
  width: 150px;
  height: 86.60px;
  background-color: #43A047;
}

.hexagon-segment:before,
.hexagon-segment:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.hexagon-segment:before {
  bottom: 100%;
  border-bottom: 43.30px solid #43A047;
}

.hexagon-segment:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #43A047;
}

.icon-color-segment {
  color: #fff;
  margin-right: 85px;
  margin-top: 12px;
}

.fa-laptop:before {
  margin-left: 40px;
}

.black-hexagon > .hexagon-segment {
  background-color: #212529 !important;
}
.black-hexagon > .hexagon-segment:before {
  border-bottom-color: #212529 !important;
}
.black-hexagon > .hexagon-segment:after{
  border-top-color: #212529 !important;
}

.red-hexagon > .hexagon-segment {
  background-color: #F4511E !important;
}
.red-hexagon > .hexagon-segment:before {
  border-bottom-color: #F4511E !important;
}
.red-hexagon > .hexagon-segment:after{
  border-top-color: #F4511E !important;
}

.segment-content {
  text-align: center;
  margin-top: 69px;

  p {
    color: #BDBDBD;
  }

  h4 {
    font-weight: 700;
  }
}

.segment-title {
  color: #BDBDBD;
  transform: scale(1, 1.2);
  padding-bottom:65px;
}
